{% extends 'login_template.html' %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Rest Password </p>

            <p>
                Your password has been set. You may go ahead and <a href="{% url 'signin' %}">sign in</a> now.
            </p>

        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock %}