{% extends 'login_template.html' %}
{% load static %}
{% block title %}After Login Page{% endblock %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Rest Password </p>

            <form  method="post">
                {% csrf_token %}

                <div class="form-group has-feedback">
                    <input id="id_new_password1" name="email" type="email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            {#            <div class="social-auth-links text-center">#}
            {#                <p>- OR -</p>#}
            {#                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign#}
            {#                    in using#}
            {#                    Facebook</a>#}
            {#                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign#}
            {#                    in using#}
            {#                    Google+</a>#}
            {#            </div>#}
            {#            <!-- /.social-auth-links -->#}

            <a href="/users/login">Login</a><br>
            <a href="/users/signup" class="text-center">Register a new membership</a>

        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock %}

