{% extends 'login_template.html' %}


{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Rest Password </p>

            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you
                entered.
                You should receive them shortly.
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>
            <a href="/users/login">Login</a><br>
            <a href="/users/signup" class="text-center">Register a new membership</a>

        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock %}
