{% extends 'login_template.html' %}
{% load static %}
{% block title %}After Login Page{% endblock %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Password Rest Confirm </p>
            {% if validlink %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <input id="id_new_password1" name="new_password1" type="password" class="form-control"
                               placeholder="New Password">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>


                    <div class="form-group has-feedback">
                        <input id="id_new_password2" name="new_password2" type="password" class="form-control"
                               placeholder="New password confirmation">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a href="/users/signup" class="text-center">Register a new membership</a>

            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>

                <a href="/users/password_reset" class="text-center">Reset password</a>
            {% endif %}


        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock %}

